@use "variables.scss";

.bonus_item__wrapper {
    padding: 2em 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: lighten($color-light-purple, 60%);
    color: $color-dark-purple;
    box-shadow: 0 4px 10px -4px rgba(0,0,0,.5);
    z-index: 0;
    position: relative;
    transition: 
            color .2s ease .4s;

    @media screen and (max-width: $breakpoint-mobile) {
        &:nth-of-type(2n)::after {
            background-position: right center;
        }
    }

    &:hover {
        &::after {
            width: 100%;
            height: 100%;
        }

        color: $color-pure-white;
    }

    &:after {
        z-index: -1;
        position: absolute;
        content: '';
        height: 3px;
        background: $color-dark-purple;
        width: 0%;
        left: 0;
        bottom: 0;
        transition: 
            width .2s ease-out,
            height .2s ease-in-out .2s,
            color .2s ease .2s;
    }
}

.bonus_group__wrapper {
    font-size: 0.9rem;

    @media screen and (min-width: $breakpoint-tablet) {
        display: grid;
        grid-auto-flow: dense;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 25px;
        width: 85%;
        margin: auto;
    }

    .bonus_item__description {
        line-height: 130%;
    }
}