/** Variables declaration **/

@import "variables.scss";
@import "animations.scss";
@import "headline.scss";
@import "modules__container.scss";
@import "bonus_container.scss";
@import "faq.scss";

body {
    font-size: $font-size-default;
    font-family: $font-face-body;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100%;
    height: auto;
    display: block;
    box-sizing: border-box;
    background: linear-gradient(45deg, $color-light-purple, lighten($color-light-purple, 3%));
}

section {
    padding: 0;
    margin: 0;
    width: 100%;

    font-size: 1rem;
    font-family: $font-face-body;
}

b {
    font-weight: bold;
}

footer {
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-face-title;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.3em;
}

h3 {
    font-size: 1.1em;
}

.button_cta {
    border: none;
    position: relative;
    text-transform: uppercase;

    font-weight: bold;
    font-family: $font-face-title;
    line-height: 3em;
    font-size: 1.1em;
    border-radius: 4px;

    background: darken($color-accent-yellow, 8%);
    overflow: hidden;
    color: $color-dark-purple;
    cursor: pointer;

    @media screen and (min-width: $breakpoint-tablet) {
        font-size: 1.2em;
        line-height: 300%;
    }


    &:after {
        position: relative;
        content: "_";
        font-size: 1.1em;
        padding: 0 0 0 3px;
        display: inline-block;
        animation: blink 1s steps(5, start) infinite;
        visibility: visible;
    }
}

.section__title {
    text-transform: uppercase;
    text-align: center;
    display: block;
    box-sizing: border-box;
    margin: 2em auto 0.5em;
    font-weight: bold;
    color: $color-pure-white;
}

#target__text {
    text-align: center;
    position: relative;
    box-sizing: border-box;
    padding: 2em 1em;
    font-size: 1.1em;
    color: white;

    span {
        z-index: 2;
    }

    &:after {
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        content: "";
        font-family: $font-face-icon;

        opacity: 0.3;
        text-align: left;
        text-indent: 1em;
        font-size: 5em;
        z-index: -1;
    }
}

.about__image {
    width: 100%;
    text-align: right;

    img {
        width: 80%;
        max-width: 400px;
        margin: auto;
        border-radius: 12px 0 12px 12px;
        border: none;
        box-shadow: 0 8px 10px -5px rgba(0, 0, 0, 0.4);
    }
}

.about__description {
    max-width: 800px;
}

.about__biography_container {
    padding: 30px 0;
    background: darken($color-pure-white, 10%);
    margin-top: 50px;
    box-shadow: 0 8px 10px -5px rgba(0, 0, 0, 0.4);
}

.about__paragraph {
    line-height: 120%;
    width: 85%;
    margin: 0 auto 1em auto;
}

#section__about {
    padding: 0 0 2em 0;
    background: $color-dark-purple;
    margin-top: 2em;

    @media screen and (min-width: $breakpoint-tablet) {
        display: grid;
        grid-template-areas:
            "title title"
            "image paragraph";

        .section__title {
            grid-area: title;
        }

        .about__image {
            grid-area: image;
        }

        .about__biography_container {
            grid-area: paragraph;
            margin-top: 0;
        }
    }
}