/** Variables declaration **/

@import "variables.scss";
@import "animations.scss";
@import "headline.scss";
@import "modules__container.scss";
@import "bonus_container.scss";
@import "faq.scss";
@import "video_container.scss";
@import "section_price.scss";

* {
    text-rendering: optimizeLegibility;
}

body {
    font-size: $font-size-default;
    font-family: $font-face-body;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100%;
    height: auto;
    display: block;
    box-sizing: border-box;
    background: linear-gradient(45deg, $color-light-purple, lighten($color-light-purple, 3%));
}

section {
    padding: 0;
    margin: 0;
    width: 100%;

    font-size: 1rem;
    font-family: $font-face-body;
}

b {
    font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-face-title;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.3em;
}

h3 {
    font-size: 1.1em;
}

.button_container {
    position: relative;
}

.button_cta {
    border: none;
    position: relative;
    text-transform: uppercase;

    font-weight: bold;
    font-family: $font-face-title;
    line-height: 3em;
    font-size: 1.1em;
    border-radius: 4px;
    padding: 0 20px;
    margin-top: 3em;

    width: max-content;

    background: darken($color-accent-yellow, 8%);
    overflow: hidden;
    color: $color-dark-purple;
    cursor: pointer;
    transition: all .3s ease;

    @media screen and (max-width: $breakpoint-tablet) {
        line-height: 1em;
        padding: 25px 20px;
        box-sizing: border-box;
        width: inherit;
    }

    @media screen and (min-width: $breakpoint-tablet) {
        font-size: 1.2em;
        line-height: 300%;

        &:hover {
            transform: translateY(-10px) scale(1.1);
            box-shadow: 0 10px 25px -14px rgba(0, 0, 0, 0.5);
        }
    }

    &:after {
        position: relative;
        content: "_";
        font-size: 1.1em;
        padding: 0 0 0 3px;
        display: inline-block;
        animation: blink 1s steps(5, start) infinite;
        visibility: visible;
    }
}

.section__title {
    text-transform: uppercase;
    text-align: center;
    display: block;
    box-sizing: border-box;
    font-size: 2em;
    margin: 1em auto .5em;
    font-weight: bold;
    color: $color-pure-white;
    position: relative;

    @media screen and (max-width: $breakpoint-mobile) {
        &:after {
            content: "";
            width: 100px;
            height: 5px;
            border-radius: 10px;
            background-color: $color-pure-white;
            margin: auto;
            z-index: 1;
            position: absolute;
            bottom: -15px;
            left: 10%;
        }
    }
}

#target__text {
    text-align: center;
    position: relative;
    box-sizing: border-box;
    padding: 2em 1em;
    font-size: 1.1em;
    color: white;

    span {
        z-index: 2;
    }

    &:after {
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        content: "";

        opacity: 0.6;
        text-align: left;
        text-indent: 1em;
        font-size: 5em;
        z-index: -1;
        transition: all .3s ease;
        filter: brightness(0) invert(0);
        background: transparent url('/assets/images/target__background.svg') no-repeat center left / contain;
    }

    &:hover::after {
        filter: brightness(1) invert(1);
        transform: scale(1.2);
    }
}

#target__wrapper p {
    max-width: 700px;
    margin: auto;
    transition: all .2s ease;
}

.about__image {
    width: 100%;
    text-align: right;

    img {
        width: 80%;
        max-width: 400px;
        margin: auto;
        border-radius: 12px 0 12px 12px;
        border: none;
        box-shadow: 0 8px 10px -5px rgba(0, 0, 0, 0.4);
    }

    @media screen and (max-width: $breakpoint-mobile) {
        text-align: center;
    }
}

.about__description {
    max-width: 800px;
}

.about__biography_container {
    padding: 30px 0;
    background: darken($color-pure-white, 10%);
    margin-top: 50px;
    box-shadow: 0 8px 10px -5px rgba(0, 0, 0, 0.4);
}

.about__paragraph {
    line-height: 120%;
    width: 85%;
    margin: 0 auto 1em auto;
}

#section__about {
    padding: 2em 0 4em 0;
    background: $color-dark-purple url('/assets/images/about__background.jpg') no-repeat center center / cover;
    background-blend-mode: multiply;

    @media screen and (min-width: $breakpoint-tablet) {
        display: grid;
        grid-template-areas:
            "title title"
            "image paragraph";

        .section__title {
            grid-area: title;
        }

        .about__image {
            grid-area: image;
        }

        .about__biography_container {
            grid-area: paragraph;
            margin-top: 0;
        }
    }
}

.disclaimer__content_wrapper {
    max-width: 800px;
    margin: 3em auto 1em auto;
    padding: 3em 2em;
    box-sizing: border-box;
    text-align: center;

    color: $color-pure-white;
    background: $color-dark-purple;

    position: relative;
    z-index: 0;

    box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.5);

    h2 {
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    p {
        line-height: 120%;
    }

    &:after {
        position: absolute;

        width: 100%;
        height: 100%;
        left: 0;
        top: 0;

        background: url("/assets/images/warning_mark.svg") no-repeat -3em center / contain;
        opacity: 0.1;
        content: "";
        transition: all .2s ease;
    }

    &:hover::after {
        background-color: #FF0000;
    }
}

footer {
    display: flex;
    flex-direction: row;
    padding: 4em 0 2em 0;
    margin-top: 6em;
    background-color: $color-dark-purple;
    width: 100%;
    box-shadow: 0 10px 20px -15px rgba(0, 0, 0, .4) inset;

    .left_side,
    .right_side {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        padding: 0 2em;
        font-family: $font-face-body;
        color: $color-pure-white;
    }

    .left_side span {
        font-size: 0.9em;
        color: $color-pure-white;
        margin-bottom: 5px;
    }

    .right_side {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        a {
            width: fit-content;
            margin-right: 25px;
            transition: all .2s ease-in-out;

            &:hover {
                transform: translateY(-5px) scale(1.1);
            }
        }

        img {
            height: 1.4em;
        }
    }

    @media screen and (max-width: $breakpoint-mobile) {
        flex-direction: column;


        .left_side {
            text-align: left
        }

        .right_side {
            justify-content: center;
            margin-top: 30px;
        }
    }

    @media screen and (min-width: $breakpoint-tablet) {
        .left_side,
        .right_side {
            flex-basis: 49%;
        }
    }
}

