/** Variables declaration **/

@import "animations.scss";

$font-face-title: 'Space Mono', monospace;
$font-face-body: 'Work Sans', sans-serif;
$font-size-default: 16px;

$color-dark-grey: rgb(109, 138, 199);
$color-light-purple: #5b21b6;
$color-light-blue: #5b21b6;

body {
    font-size: $font-size-default;
    font-family: $font-face-body;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100%;
    height: auto;
    display: block;
    box-sizing: border-box;
    background: linear-gradient(45deg, $color-light-blue, $color-light-blue);
}

section {
    padding: 0;
    margin: 0;
    width: 100%;

    font-size: 1rem;
    font-family: $font-face-body;
}

footer {
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-face-title;
}

.button_cta {
    border: none;
    position: relative;
    text-transform: uppercase;

    line-height: 200%;
    font-family: $font-face-title;
    font-size: 1.2em;

    padding: 0em 2em;

    &:after {
        position: relative;
        content: "_";
        font-size: 1.1em;
        padding: 0 0 0 3px;
        display: inline-block;
        animation: blink 1s steps(5, start) infinite;
        visibility: visible;
    }
}