@use "variables.scss";

#section__headline {
    background-blend-mode: screen;
    background: url("/assets/images/main__section__background.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    background-color: $color-light-purple;
    position: relative;
    box-sizing: border-box;
    z-index: 0;

    @media screen and (min-width: $breakpoint-desktop) {
        display: grid;
        grid-template-areas: 
            "lateral video" 
            "botao video";
        grid-auto-flow: dense;

        padding: 3em 50px;

        #article__headline {
            grid-area: lateral;
        }

        .youtube__container {
            grid-area: video;
        }

        .button__container {
            grid-area: botao;
        }
    }

    @media screen and (max-width: $breakpoint-tablet) {
        padding: 1em 20px;

        .youtube__container {
            margin: 2em auto 0em auto;
            width: 100%;
        }
    }

    &:after {
        position: absolute;
        width: 100%;
        height: 100%;
        content: "";
        left: 0;
        top: 0;
        z-index: -1;
        opacity: 0.7;

        background: linear-gradient(45deg, $color-light-purple, darken($color-light-purple, 3%));
    }
}

#article__headline {
    position: relative;
    z-index: 4;

    h1,
    p {
        margin-bottom: 0.3em;
        color: $color-pure-white;
    }

    h1 {
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 0px;
        font-size: 2.3em;

        span {
            display: block;
            font-size: 1.1em;
            position: relative;

            &:after {
                position: absolute;
                width: 20%;
                height: 5px;
                border-radius: 5px;
                left: 0;
                bottom: -5px;
                background: $color-accent-yellow;
                content: "";
            }
        }
    }

    h2 {
        font-family: $font-face-body;
        font-size: 1.1em;
        color: $color-pure-white;
        line-height: 130%;
    }

    p {
        letter-spacing: 1px;
        font-family: $font-face-body;
        font-variant: all-small-caps;
        font-size: 1.2em;
        font-weight: bold;
    }

    .button_cta {
        margin-top: 4em;
    }

    @media screen and (max-width: $breakpoint-mobile) {
        text-align: center;
    }
}